<!-- app\templates\base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Class Pulse{% endblock %}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{{ url_for('core.static', filename='style.css') }}">
    
    {% block head_styles %}{% endblock %}
</head>
<body>
    {# Общий контейнер для большинства страниц, если нужен. Можно убрать, если не подходит. #}
    <div class="{% block container_class %}container{% endblock %}"> 
        
        {# Блок для flash-сообщений, чтобы они были на каждой странице #}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages" style="margin-top: 20px; margin-bottom: 20px;">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message | safe }}</div> {# Используем safe, если flash содержит HTML #}
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}
        {# Содержимое дочерних шаблонов будет здесь #}
        {% endblock %}
    </div>

    {% block body_scripts_vendor %}{% endblock %}
    {% block body_scripts_custom %}{% endblock %}
</body>
</html>